RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [QSA,L]
RewriteCond %{HTTP_HOST} ^www.site\.com$ [NC]
RewriteRule ^(.*)$ Http://zkeys.id/$1 [R=301,L]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>